<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="shortcut icon" th:href="@{/images/ttn.ico}" />
    <title>REAP</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">

</head>

<body>

<!-- NAVBAR- -->
<div id="top">
    <a href="#"><img th:src="@{/images/logo.png}" id="logo"></a>
    <a href="#"><img th:src="@{/images/reap2.png}" id="logo2"></a>
    <a href="register.html"><button class="btn11">SIGN UP</button></a>
    <a href="login.html"><button class="btn1">LOGIN</button></a>
</div>



<div id="center-div" style="height: 350px;">
    <div id="div2">
        <span class="span1">Forgot Password</span>
    </div>
    <form>
        <label for="mail-id">E-mail ID</label>
        <input type="text" name="mail-id" id="mail-id" placeholder="Enter your E-mail here" required="">

        <button onclick="#" class="btn1" id="btn2">Close</button>
        <button onclick="#" class="btn1" id="btn3">Send Password</button>
    </form>


</div>


<script type="text/javascript" src="reap.js"></script>

</body>
</html>